.bodypageloader {
	position: fixed;
	left: 0px;
	top: 0px;	
	bottom:0px;
	right:0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
    background: url(/assets/front/images/ajax-loader.gif) 50% 50% no-repeat #dae2ea99;
    opacity: .8;
}

